body{
  font-family: arial;
  font-size: 15px;
  line-height: 1.5;
  padding:0;
  margin:0;
  background-color: white;
  background-image: url('../images/frt.jpg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:500px 800px;
  height:1550px;
  margin-top:80px;
  }
  .navbar{
	  width:100%;
	margin-top:-80px;
  }
.section h2 {
  font-size: 30px;
  color:white;
text-align:center;
}
.navbar li a:hover,
.navbar li a:focus{
	background:red;
}
.navbar-brand span{
	color:red;
}
.section p{
  font-size:20px;
  color:white;
  margin-left:18px;
  font-weight:bolder;
}
.container h2{
  text-align:center;
  font-size:30px;
}
.container img{
  width:70%;
}
.ab{
  background-color:white;
  padding:20px;
}
.ab h1{
	font-size:25px;
	text-align:center;
	margin-top:-15px;
}
#tabs{
  float:left;
}
#tabs .tab {
  overflow: hidden;
  margin-top: -25px;
background-color:#3498DB;
}
#tabs .tab .buttoncontainer button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size:18px;
  height:60px;
  width:168px;
  color:white;
}
#tabs .tab .buttoncontainer button:hover {
  background-color: blue;
}
#tabs .tabcontent{
  height:5px;
  padding-top:0px;
  display:none;
  padding-left:10px;
  margin-right:10px;
  font-size:20px;
  font-weight: bold;
  color:#FDFEFE ;
  background-size: cover;
}
#tabs #Transportation .tabcontent{
  background-color: gray;
}
.classification h2{
	margin-left:60px;
	font-size:30px;
}
.classification p{
	font-size:20px;
	
}
